<h1>Frequently Asked Questions</h1>

<p>Welcome to our FAQ page, here you'll find some common questions with awesome answers</p>

<ul class="faqul">

<li><strong>Q:</strong>What our the gym hours?</li>
<p><strong><em>A:</em></strong>Our lovely gym is open from 5AM to 1AM 7 days a week for your fitness needs! #gottakeepittight</p>

<li><strong>Q:</strong>Where do guests park?</li>
<p><strong><em>A:</em></strong>Your guests will be able to find convient parking on the west side of the building next to the giant beaker sign in the covered carports.</p>

<li><strong>Q:</strong>Shoot, I LOST my keys, WHAT do I do?</li>
<p><strong><em>A:</em></strong>No worries, loosing your keys happens, contact the security team at <a href="tel:420-303-1988">(420) 303-1988</a><br>OR, if you don't got your phone, visit the secuirty booth in main parking area -they'll help you out!</p>

<li><strong>Q:</strong>I lost my parking pass, where can I get a new one?</li>
<p><strong><em>A:</em></strong>Send out an email to our parking team at: <a href="mailto:devpointcondoparking@devcondo.com">DevCondoParkTeam</a><br>You'll here back from the team within 24hrs; in the meantime: notify main parking security booth and park in guest parking.
</p>

<li><strong>Q:</strong>There's an issue with the onsite laundry, who do I contact?</li>
<p><strong><em>A:</em></strong>We want you to be able to do laundry 24/7, to expedite the response contact laundry-response-team directly at: <a href="tel:024-303-8891">(024) 303-8891</a><br>Response time is usually 2-3hrs, so you'll be <em>so fresh and so clean, super quick</em></p>

</ul>
