<h1>General Information</h1>
<p class="intro">Welcome to the general info section</p>

<hX>The condo's ammenitites:</hX>
<ul class="geninfoul">
    <li>Free Sunday Brunch</li>
    <li>Free access to our state of the art gym, swimming pool, sauna, steam room, yoga studio, dance stage, and 'party' style hot tub.</li>
    <li>Complementary bi-weekly cleaning service</li>
    <li>Covered parking</li>
    <li>Free use of washer and dryer facilities</li>
    <li>Free cable/internet access via Google Fiber services!</li>
</ul>

<hX>Contacts:</hX>
<ul class="geninfoul">
    <li>General Managment: <a href="tel:329-123-8293">(329) 123-8293</a></li>
    <li>Leasing Office: <a href="tel:381-321-8321">(381) 321-8321</a></li>
    <li>Laundry Response Team: <a href="tel:024-303-8891">(024) 303-8891</a></li>
    <li>Security Team: <a href="tel:420-303-1988">(420) 303-1988</a></li>
    <li>Gym Crew: <a href="tel:672-134-0218">(672) 134-0218</a></li>
    <li>Internet/TV Response Team: <a href="tel:324-112-9732">(324) 112-9732</a></li>
</ul>

<div class="timenow">
<span>The date/time now is: <%= Time.now.in_time_zone("Mountain Time (US & Canada)") %></span>
</div>

