<h1>DevPoint Community | Welcome Home!</h1>
<p>Welcome to OUR condo!  WE LOVE HAVING YOU HERE! Be sure to sign up or sign in to access the posts section! </p>

<hX>The condo's history:</hX>
<ul class="homeinfoul">
    <li>Established in 1980 once A Flock Of Seagals left town.</li>
    <li>Remodeled in 1999 in prep for Y2K; also made sure to clean up the massive party that was thrown...because the whole condo DID indeed party like it was 1999.</li>
    <li>Recieved reduced admission to the bowling alley below the condo once the teenage mutant ninja turtles decided to head back down to the sewers in 2004.</li>
</ul>
