<h1>Listing of all posts</h1>

<%= link_to 'New Posts', new_post_path %>
 
<% @posts.each do |post| %>
<p>
<%= link_to post.title, post_path(post) %><br>
Posted by: <%= post.author %>
<hr>
</p>
<% end %>