@import "bourbon";
@import "static_pages";
@import "posts";
@import "comments";
@import "users";
@import "registrations";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

.auth_links {
  @include button(shiny);
}
table {
	width: 45%;
	display: block;
	margin: auto;
	vertical-align: middle;
	font-family: 'Yanone Kaffeesatz';
	font-size: 2em;
	font-variant: small-caps;
	letter-spacing: .2em;
}

a {
	color: orangered;
	letter-spacing: .125em;
}

/* table stylez ^ */


html {
	height: 100%;
	background-image: url("diagonal_striped_brick_2X.png");
	background-repeat: repeat; 
}

nav ul li {
	transition: .4s ease-out;
}


nav ul li:hover {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-s: scale(1.5);
	transform: scale(1.5);
	border: .125em;
	margin: .125em;
	padding: .125em;
	padding-right: 1em;
	padding-left: 1em;
	letter-spacing: .125em;
	background-color: transparent;
}

nav ul li a:hover {
	color: forestgreen;
}

nav ul li:active {
	background-color: gold;
}

nav ul li a {
	text-decoration: none;
	color: whitesmoke;
	letter-spacing: .125em;
}

nav ul li { 
	border-radius: 1em;
	background-color: cornflowerblue;
	list-style-type: none;
	position: relative;
	text-align: center;
	border: .125em;
	margin: .5em;
	padding-top: .125em;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: .125em;
	position: relative;
    z-index: 10;
    float: left;
    font-size: 1em;
}

nav ul {
	text-align: center;
}
